.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(45, 45, 45);
    color: rgb(215, 215, 215);
    list-style: none;
    font-weight: bold;
    margin: 0;
    padding: 20px 0;
    box-shadow: 1px 1px 10px 7px rgba(0, 0, 0, 0.708);
    li {
        cursor: pointer;
    }
    img {
        width: 200px;
        height: 30px;
        
    }
}

li:hover {
    transform: scale(1.1);
    text-decoration: none;
    color: rgb(253, 137, 61);
}